---
import Layout from '../layouts/Layout.astro';
---

<Layout>
	<section class="container p-4">
		<div class="flex flex-col items-center justify-center gap-4">
			<h1>Inicio - Neon Burst</h1>
			<a href="/playedGames">Juegos Jugados</a>
			<a href="/mySteamGames">mis Juegos de Steam</a>
			<a href="/nextGames">Próximos Juegos</a>
		</div>
	</section>
</Layout>
