---
import Layout from '../../layouts/Layout.astro';
import PlayedGamesMain from '../../components/Vue/PlayedGamesMain.vue';

export const prerender = false;
---

<Layout title="Neon Burst | Juegos Jugados">
	<section>
		<PlayedGamesMain client:load />
	</section>
</Layout>
